.App {
  text-align: left;
}

.App-header {
  background-color: #1f293d;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header .row{
  width: 100%;
}



.App-link {
  color: #61dafb;
}

.app-content{
  min-height: 90vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}


.prod_list{
  margin-top: 30px;
  width: 60vw;
  min-width: 200px;
  justify-content: center;
}


.product_title{
  cursor: pointer;
  padding: 10px;
}
.product_title, .product_modal_container{
  border: 1px solid #1f293d;
}


.five_px_left{
  margin-left: 5px;
}

.modal-btn{
  margin-top: 5px;
}


.hidden{
  display: none;
}
.shown{
  display: block;
}

.close{
  margin-top: -20px;
}

/* The Modal (background) */
.modalwindow {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-header {
  font-size: calc(10px + 2vmin);
  color: #1f293d;
}


.quantity_box{
  border: 1px solid #888;
  border-radius: 5px;
  padding: 5px;  
}